body {
  background-image: url('images/background.jpg');
}


/* Level and Bonus bar */

.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5%;
}

.level-div{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

#level-text{
  font-size: 200%;
}

/* Image container */

.middle{
  display: flex;
  align-items: center;
  height: 75%;
  width: 100%;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#bezi{
  height: 100%;
  width: auto !important;
  }


/* Buttons container */

.level-controller-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  height: 10%;
  width: 100%;
}

.roll-class{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#level-buttons {
  font-size: 220%;
  line-height: 5px;
}

#roll-button {
  font-size: 150%;
  line-height: 5px;
}

#roll-number{
  font-size:25px;
  margin-left: 100px;
}
